@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;600&display=swap');

.main{
    position :relative;
width:100%;
height : 100vh;
background : #09091E;
overflow-x: hidden;
overflow-y: scroll;
}

.light-blue{
    content: "";
    position: absolute;
    width:50%;
    height:50%;
    background: #664eff28;
    border-radius : 50%;
    left:0%;
    top:0%;
    filter: blur(90px);
    z-index:0;
    overflow: hidden;
}
    
.light-pink{
    content: "";
    position: absolute;
    width:80%;
    height:80%;
    background: #ff3c6917;
    border-radius : 50%;
    right:-10%;
    bottom:-20%;
    filter: blur(90px);
    }

.line{
    
        width: 250px;
        height: 3px;
        background:linear-gradient(90deg, #3b1dff41, rgb(255, 60, 106));
        z-index: 20;
        background-color: #080612af;
    }

   